<!DOCTYPE html>
<html>

  <head>
    <title>JFMDev</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="robots" content="noindex,nofollow">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap-5.1.0/bootstrap.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="lib/fontawesome-free-5.15.4/css/all.min.css">

    <!-- App -->
    <link rel="stylesheet" href="css/main.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49400910-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49400910-2');
    </script>
  </head>

  <body>

    <!-- Intro -->

    <div class="back-leafs position-relative">
      <header class="pt-2 text-end">
        <% links.forEach(function(link){ %>
          <a
            class="mx-2"
            target="_blank"
            href="<%= link.href %>"
            title="<%= link.title %>"
          ><img src="<%= link.iconSrc %>" alt="<%= link.iconAlt %>"/></a>
        <% }); %>
      </header>

      <div class="text-white text-center mt-5">
        <h1 class="fs-0">JFMDev</h1>
        <div class="fs-3 font-monospace">Freelancer developer &amp; Code warrior</div>
      </div>

      <div class="position-absolute bottom-0 start-0 text-center pb-2 px-3">
        <div class="font-cursive fs-5 text-white">Scroll down<br>to continue</div>
        <img src="img/down-arrow.png" alt="DOWN" class="mt-2"/>
      </div>
    </div>

    <!-- Projects -->

    <div class="container">

      <% categories.forEach(function(category){ %>
        <h2 class="my-4" id="<%= category.type %>"><%= category.name %></h2>
      
        <div class="row">
          <% projects.forEach(function(project){ %>
            <% if (category.type == project.type) { %>
              <div class="col-md-4 mb-4">
                <div class="card" style="background-color: <%= category.backColor %>;">
                  <div class="card-body py-2 px-0">
                    <div class="d-flex align-items-center px-2">
                      <div class="pe-3">
                        <img
                          src="<%= project.icon %>"
                          title="<%= project.name %>"
                          alt="" />
                      </div>
                      <div class="align-items-center">
                        <h5 class="card-title fw-bold" id="<%= project.id %>"><%= project.name %></h5>
                        <p class="card-text"><%= project.description %></p>
                      </div>
                    </div>
                    <div class="mt-2 text-center font-monospace">
                      <% project.badges.forEach(function(badge){ %>
                        <span class="badge rounded-pill <%= badge.background %>"><%= badge.name %></span>
                      <% }); %>
                    </div>
                    <div class="mt-2 text-center font-monospace-alt">
                      <% project.links.forEach(function(link){ %>
                      <a
                        href="<%= link.href %>"
                        class="link-dark text-decoration-none text-nowrap"
                        target="_blank"
                      ><i class="<%= link.icon %> mx-2" aria-hidden="true"></i><%= link.title %></a>
                      <% }); %>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          <% }); %>
        </div>
      <% }); %>

  </body>
</html>
